version: "3.8"

services:
  mongodb:
    image: mongo:4
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - rede-docker
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - rede-docker

  app:
    image: stock-tracker-api
    container_name: app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/stocktracker
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - mongodb
      - redis
    networks:
      - rede-docker

networks:
  rede-docker:
    driver: bridge

volumes:
  mongo_data: